<div class="mt-4">
    <div class="row">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col-pan2">STT</th>
      <th scope="col">Name</th>
      <th scope="col">DEX</th>
      <th scope="col">IV</th>
      <th scope="col">CP</th>
      <th scope="col">LV</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row">
        <img src="{{pokemons.img}}" alt="{{pokemons.img}}" class="img-poke">
    </th>
      <td>{{pokemons.name}}</td>
      <td>{{pokemons.dex}}</td>
      <td>{{pokemons.iv}}</td>
      <td>{{pokemons.lv}}</td>
      <td>{{pokemons.cp}}</td>
      <td>{{pokemons.location}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>