<div class="mt-4">
  <div class="row">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col-pan2">STT</th>
      <th scope="col">Name</th>
      <th scope="col">DEX</th>
      <th scope="col">IV</th>
      <th scope="col">CP</th>
      <th scope="col">LV</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
    {{#each pokemons}}
  <tbody>
    <tr>
    <th scope="row">
    <a href="/home/{{this.name}}">
        <img src="{{this.img}}" alt="{{this.img}}" class="img-poke">
    </a>
    </th>
      <td><a href="/home/{{this.name}}">{{this.name}}</a></td>
      <td>{{this.dex}}</td>
      <td>{{this.iv}}</td>
      <td>{{this.lv}}</td>
      <td>{{this.cp}}</td>
      <td>{{this.location}}</td>
    </tr>
  </tbody>
    {{/each}}
</table>
    </div>
</div>
